doctype html
html
  head
    title UI Boiler
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css')
    link(href='/css/style.css' rel='stylesheet')

  body
    .content
      .title
        h1 UI Boiler